* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:transparent;
}

body {
    margin: 0;
    position: relative;
    font-family: Arial, sans-serif;
    background-color: rgb(14, 14, 14);
    height: 300vh; /* Ensure enough scroll space */
}
.header {
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 30vh;
    width:100%;
    text-align: center;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Ensure header is above the canvas */
}
.header h1 {
    color: white; /* Change to white for better visibility */
    font-size: 4.5em;
}

.header h2 {
    color: rgb(228, 228, 228);
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Make container background transparent */
    height: 100vh; /* Ensure container takes full viewport height */
}
canvas {
    position: sticky;
    top: 0;
    display: block;
    z-index: 1; /* Ensure canvas is behind the header */
    height: 100vh;
}